:root {
    --main: #2A363B;
    --dark-main: #1F292E;
    --one: #A7226E;
    --two: #EC2049;
    --three: #F26B38;
    --four: #F7DB4F;
    --five: #2F9599;
    --gray: #A8A7A7;
    --clear-text-color: #FFF;
    --dark-text-color: #000
}