.tabs {
    margin: 10px 10px 10px 0;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    height: calc(100% - 25px);
}

.tabs__labels {
    margin: 0;
    padding: 0;
}

.tabs__labels li {
    display: inline-block;
}

.tabs__labels li a {
    padding: 8px 50px;
    display: block;
    color: #444;
    text-decoration: none;
    border-bottom: 3px solid #f5f5f5;
}

.tabs__labels li a.active {
    border-bottom-color: var(--five);
    transition: all 0.3s ease-out;
}

.tabs__content {
    padding: 25px;
    height: calc(100% - 40px);
}

.tabs__content > div:first-child {
    height: inherit;
}