#burst-12 {
    background: red;
    width: 450px;
    height: 450px;
    position: relative;
    text-align: center;
    z-index: -1;
}

#burst-12:before, #burst-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 450px;
    width: 450px;
    background: red;
    z-index: -1;
}

#burst-12:before {
    transform: rotate(30deg);
}

#burst-12:after {
    transform: rotate(60deg);
}